.search-history--container {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 220px;
  overflow-y: auto;
  top: calc(100% + 4px);
  left: 0;
  border-radius: 4px;
  padding: 12px;

  & .search-history--header {
    height: 1.6rem;
    user-select: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    & .search-history--header-clear {
      $size: 1rem;
      width: $size;
      height: $size;

      & svg {
        width: $size;
        height: $size;
      }
    }
  }

  & .search-history--body {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
  }

  & .search-history--item[data-type="normalButton"] {
    font-size: 0.9rem;
    padding-right: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & .search-history--item-remove {
      width: 1rem;
      height: 1rem;
      margin-left: 6px;

      & svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
