.setting-view--list-box-setting-item-container {
  .question-mark-container {
    $size: 1.1rem;
    display: inline-block;
    margin-left: 0.5rem;
    width: $size;
    height: 100%;
    text-align: center;
    vertical-align: middle;

    & svg {
      width: $size;
      height: $size;
      cursor: pointer;
    }
  }

  & .options-container {
    margin-top: 0.6rem;
    display: flex;
    gap: 0.5rem 3rem;
    position: relative;
    user-select: none;
    $item-width: 220px;

    & .listbox-button {
      height: 2.6rem;
      width: $item-width;
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 12px;
      padding-right: 24px;
      border-radius: 6px;
      background-color: var(--placeholderColor);
      border: 1px solid var(--dividerColor);

      & span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &::after {
        position: absolute;
        right: 6px;
        content: "";
        width: 0;
        height: 0;
        margin-left: 0.5rem;
        border: 4px solid transparent;
        border-left-color: currentColor;
        transform-origin: left center;
        transform: rotate(90deg);
      }
    }

    & .listbox-options {
      position: absolute;
      padding-inline-start: 0;
      margin-block-start: 0;
      border-radius: 4px;
      left: 0;
      top: 3rem;
      z-index: 10;
      width: $item-width;
      max-height: 280px;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;

      & .listbox-option {
        list-style: none;
        height: 2.2rem;
        width: $item-width;
        line-height: 2.2rem;
        padding: 0 12px;
        vertical-align: middle;
        cursor: default;
        box-sizing: border-box;

        &[data-headlessui-state*="active"] {
          color: var(--primaryColor);
        }

        & div {
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
