.modal--import-music-sheet {
  width: 360px;

  & .content-container {
    max-height: 540px;
  }

  & .plugin-item {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background: var(--listHoverColor);
    }
  }
}
