.modal--update-container {
  width: 600px;
  max-height: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  & .body-container {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
    overflow: auto;

    & .version {
        margin-top: 0.8rem;
        font-weight: 600;
    }

    & p {
        line-height: 1.5rem;
    }
  }

  & .footer-options {
    flex-shrink: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    padding-right: 16px;
    margin-bottom: 0.5rem;
  }
}
