// 控制区域
.music-controller {
  margin-left: 10px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .controller-btn {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
}

  & .primary-btn {
    background-color: var(--primaryColor);
    color: white;

  }

  & .play-or-pause {
    width: 40px;
    height: 40px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  & .skip {
    width: 34px;
    height: 34px;

    & svg {
      width: 28px;
      height: 28px;
    }
  }
}
