.music-sheet-like-list--container {
    width: 100%;

    & .music-sheet-like-list--body {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 16px;
    }
}
