.playlist--header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 12px;

  & .playlist--title {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.playlist--music-list-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlist--music-list-scroll {
  position: relative;
  width: 100%;
  outline: none;
}

.playlist--divider {
  width: 100%;
  height: 1px;
  background-color: var(--dividerColor);
  margin-top: 12px;
  margin-bottom: 0;
}

.play-list--music-item-container {
  width: 460px;
  height: 2.6rem;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;

  &[data-active="true"] {
    background: var(--listActiveColor);
  }

  & .playlist--options {
    display: flex;
    gap: 4px;
  }

  & .playlist--title {
    margin-left: 8px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  & .playlist--artist {
    margin-left: 8px;
    width: 106px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  & .playlist--platform {
    margin-left: 8px;
    flex-basis: 0;
    flex-grow: 1;
    width: 0;
  }

  & .playlist--remove {
    flex-shrink: 0;
    margin-left: 8px;
    height: 16px;
    width: 16px;
  }

  &:nth-child(even) {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
  &:hover {
    background: var(--listHoverColor);
  }
}
