table {
  width: 100%;
  table-layout: fixed;
  user-select: none;
  border-collapse: collapse;
  $row-height: 2.6rem;

  & thead {
    & tr {
      height: $row-height;

      & th {
        text-align: left;
        border-bottom: 1px solid var(--dividerColor);

        &:first-child {
          text-align: center;
        }
      }
    }
  }

  & tbody {
    & tr {
      height: $row-height;

      & td {
        text-align: left;
        &:first-child {
          text-align: center;
        }
      }

      &:nth-child(even) {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
      &:hover {
        background-color: var(--hoverColor);
      }
    }
  }

}

.Toastify__toast-container--top-right {
  top: calc(54px + 1rem);
}