table {
  width: 100%;
  table-layout: fixed;
  user-select: none;
  border-collapse: collapse;
  $row-height: 2.6rem;

  & thead {
    & tr {
      height: $row-height;

      & th {
        text-align: left;
        border-bottom: 1px solid var(--dividerColor);

        &:first-child {
          text-align: center;
        }
      }
    }
  }

  & tbody {
    & tr {
      height: $row-height;

      & td {
        text-align: left;
        &:first-child {
          text-align: center;
        }
      }

      &:nth-child(even) {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
      &:hover {
        background: var(--listHoverColor);
      }
      &[data-active="true"] {
        background: var(--listActiveColor);
      }
    }
  }
}

.Toastify__toast-container--top-right {
  top: calc(54px + 1rem);
}

.opacity-button {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.highlight {
  color: var(--primaryColor) !important;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

input {
  outline: none;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
  border: 1px solid var(--dividerColor);
  box-sizing: border-box;
  background: var(--placeholderColor);
  color: var(--textColor);

  &::placeholder {
    opacity: 0.6;
    color: var(--textColor);
  }
}

// 按钮样式
div[role="button"] {
  cursor: pointer;
  user-select: none;

  &[data-disabled]:not([data-disabled="false"]) {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &[data-type="primaryButton"] {
    background-color: var(--primaryColor);
    font-size: 1em;
    padding: 0.5em 0.8em;
    border-radius: 1.6em;
    color: white;
    width: fit-content;
    line-height: 1em;
  }
  &[data-type="normalButton"] {
    font-size: 1em;
    padding: 0.5em 0.8em;
    border-radius: 1.6em;
    color: var(--textColor);
    border: 1px solid currentColor;
    width: fit-content;
    line-height: 1em;
    background-color: color-mix(in srgb, currentColor 15%, transparent);
  }

  &[data-type="dangerButton"] {
    font-size: 1em;
    padding: 0.5em 0.8em;
    border-radius: 1.6em;
    color: var(--dangerColor);
    border: 1px solid currentColor;
    width: fit-content;
    line-height: 1em;

    &[data-fill="true"] {
      color: white;
      background: var(--dangerColor);
    }
  }
}
