.modal--add-new-sheet-container {
  width: 400px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px var(--shadowColor);
  background-color: var(--backgroundColor);

  & .input-area {
    margin: 20px;
    margin-left: 1rem;
    box-sizing: border-box;

    & input {
      width: 100%;
    }
  }

  & .opeartion-area {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
