#root {
 
}

:root {
  --textColor: #fcfcfc !important;
  --primaryColor: #d38188 !important;
  --hoverColor: rgba(255, 255, 255, 0.05) !important;
  // --shadowColor: rgba(128, 128, 128, 0.1) !important;
  --dividerColor: rgba(255, 255, 255, 0.1) !important;
  --maskColor: rgba(33, 33, 33, 0.8) !important;
}


.side-bar--list-item-container[data-selected="true"] {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.header-container,
.music-bar-container {
  background-color: rgba(33, 33, 33, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}

input {
  background-color: #424242 !important;
  color: var(--textColor);
}

input + svg {
  color: white !important;
  opacity: 0.7 !important;
}

.header-search {
  background-color: #666 !important;
}

.header-search input {
  background-color: transparent !important;
}

a {
  color: #8bd1ed !important;
}
