.side-bar-container--my-sheets {
  & .divider {
    margin-top: 0.5rem;
    width: 100%;
    height: 1px;
    background-color: var(--dividerColor);
  }
  & .title {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    opacity: 0.7;
    user-select: none;

    $tag-size: 4px;
    & .my-sheets {
      display: flex;
      align-items: center;
      &::after {
        content: "";
        width: 0;
        height: 0;
        margin-left: 0.5rem;
        border: $tag-size solid  transparent;
        border-left-color: currentColor;
        transform-origin: left center;
        transition: transform linear 100ms;
      }
    }

    &[data-headlessui-state="open"] {
      & .my-sheets {
        &::after {
          transform: rotate(90deg);
        }
      }
    }

    & .add-new-sheet {
      $size: 20px;
      width: $size;
      height: $size;

      & svg {
        width: $size;
        height: $size;
      }
    }
  }
}
