.music-sheetlike-view--header-container {
  margin-top: 24px;
  display: flex;
  min-height: 160px;

  & img {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
    object-fit: cover;
  }


  & .sheet-info-container {
    margin-left: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    & .title-container{
      display: flex;
      align-items: center;
      -webkit-user-drag: none;
      user-select: text;

      & .title {
        flex: 1;
        font-size: 1.8rem;
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        // 左边有tag的情况
        &:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
    }

    & .description-container {
      font-size: 1rem;
      line-height: 2;

      &[data-fold="true"] {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    & .info-container {
      font-size: 1rem;
      opacity: .8;
      line-height: 2;

      & span:not(:first-child)::before {
        content: " · ";
      }
    }


  }

}
