.modal--search-lyric-container {
  width: 600px;
  max-height: 540px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  & .search-lyric-input-container {
    margin-right: 24px;
    flex: 1;
    position: relative;

    & .search-lyric-input {
      width: 100%;
      padding-right: 26px;
    }

    & .search-lyric-search {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 6px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }

  & .tab-list-container {
    padding: 0 12px;
    overflow-x: auto;
  }

  & .tab-panels-container {
    & .tab-panel-container {
      height: 320px;
    }
  }
}
