.modal--sparkles-container {
  width: 600px;
  height: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  & p {
    line-height: 2rem;
  }

  & .img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .wechat-channel {
      display: block;
      width: 120px;
      height: 120px;
    }
  }

  & .body-container {
    padding-left: 16px;
    padding-right: 16px;
    flex: 1;
    overflow-y: auto;

    & .footer {
      width: 100%;
      text-align: end;
    }

    & .secret {
      font-size: 10px;
      color: transparent;
      user-select: none;
    }
  }
}
