// 其他区域
.music-extra {
  width: 280px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  flex-shrink: 0;

  & .extra-btn {
    cursor: pointer;
    color: var(--textColor);
    margin-left: 10px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }
}
