// 其他区域
.music-extra {
  width: 280px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  flex-shrink: 0;
  z-index: 300;

  & .extra-btn {
    cursor: pointer;
    color: var(--textColor);
    margin-left: 12px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;

    & .volume-bubble-container {
      position: absolute;
      z-index: 10;
      width: 3rem;
      height: 9rem;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      cursor: default;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .volume-slider-container {
        height: 6rem;

        & .rc-slider-handle-dragging {
          box-shadow: 0 0 5px 5px var(--primaryColor);
        }
      }

      & .volume-slider-tag {
        font-size: 0.9rem;
        margin-top: 6px;
      }
    }

    & svg {
      width: 22px;
      height: 22px;
    }
  }
}
