.lyric-container {
  width: 360px;
  height: 420px;
  overflow-y: auto;
  font-size: 1rem;
  cursor: default;
  position: relative;
  mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    #fff 25%,
    #fff 75%,
    transparent 100%
  );
  
  &::-webkit-scrollbar {
    display: none;
  }

  &[data-loading="false"] {
    &::before,
    &::after {
      content: "";
      height: calc(180px - 0.5rem);
      display: block;
    }
  }

  & .lyric-item {
    vertical-align: middle;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1em;
    opacity: 0.8;

    &[data-highlight="true"] {
      color: var(--primaryColor);
      font-size: 1.2em;
      font-weight: 600;
      opacity: 1;
    }
  }
}
