.lyric-container {
  width: 360px;
  height: 420px;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  font-size: 1rem;
  cursor: default;
  position: relative;


  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
  }

  &:hover::-webkit-scrollbar {
    display: block;
  }

  &[data-loading="false"] {
    &::before,
    &::after {
      content: "";
      height: calc(180px - 0.5rem);
      display: block;
    }
  }

  & .lyric-item {
    vertical-align: middle;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1em;
    opacity: 0.8;

    &[data-highlight="true"] {
      color: var(--primaryColor);
      font-size: 1.2em;
      font-weight: 600;
      opacity: 1;
    }
  }


  & .search-lyric {
    color: var(--linkColor);
    text-decoration: underline;
  }

}
