.remote-themes-container {
  width: 100%;
  margin-top: 14px;

  & .remote-themes-inner-container {
    display: grid;
    gap: 24px 36px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  & .remote-themes-description {
    margin: 1em 0;
  }
}
