.setting-view--theme-container {
  width: 100%;

  & .setting-view--theme-items {
    display: flex;
    width: 100%;
    gap: 12px 32px;

    & .theme-item-container {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;

      & .theme-item-preview {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        position: relative;
      }
      & .theme-item-preview-selected::after {
        content: '';
        width: 48px;
        height: 48px;
        position: absolute;
        top: -4px;
        left: -4px;
        border: 2px solid var(--primaryColor);
        border-radius: 6px;

      }

      & .theme-item-title {
        margin-top: 6px;
        font-size: 1.1rem;
      }
    }
  }
}
