.setting-view--backup-container {
  width: 100%;

  & .backup-row {
    display: flex;
    gap: 12px;
  }

  & .webdav-backup-container {
    display: grid;
    grid-template-columns: 33% 33%;
    gap: 18px;
  }
}
