.music-list-container {
  width: 100%;
  min-height: 300px;

  & th {
    &:nth-child(2) {
      text-align: center;
    }
  }

  & td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:nth-child(2) {
      text-align: center;
    }
  }

  & .music-list-operations {
    display: flex;
    align-items: center;
    gap: 6px;
  }
 
}
