:root {
  --textColor: #fcfcfc !important;
  --textSecondaryColor: #aaaaaa !important;
  --backgroundColor: #202020 !important;
  --shadowColor: rgba(0, 0, 0, 0.15) !important;
  --dividerColor: rgba(255, 255, 255, 0.1) !important;
  --maskColor: rgba(33, 33, 33, 0.8) !important;
  --backdropColor: #101010 !important;

  --listHoverColor: rgba(255, 255, 255, 0.05) !important;
  --listActiveColor: rgba(255, 255, 255, 0.1) !important;
  --placeholderColor: #424242 !important;

}

.music-detail-background {
  background: var(--backgroundColor) !important;
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.header-container,
.music-bar-container {
  background-color: #131313 !important;
}

.body-container {
  background-color: rgba(0, 0, 0, 0.5);
}


input + svg {
    color: white !important;
    opacity: 0.7 !important;
}

.header-search {
    background-color: #666 !important;
}

.header-search input {
    background-color: transparent !important;
}

a {
    color: #8bd1ed !important;
}