:root {
  --textColor: #fcfcfc !important;
  --textSecondaryColor: #aaaaaa !important;
  --backgroundColor: #686c75 !important;
  --shadowColor: rgba(0, 0, 0, 0.3) !important;
  --dividerColor: rgba(255, 255, 255, 0.1) !important;
  --maskColor: rgba(33, 33, 33, 0.2) !important;
  --backdropColor: #4b4949 !important;
  --primaryColor: #ff7676 !important;

  --listHoverColor: rgba(255, 255, 255, 0.05) !important;
  --listActiveColor: rgba(255, 255, 255, 0.1) !important;
  --placeholderColor: #dededeba !important;

}


.right-part {
  --headerTextColor: #333 !important;
}

.music-detail-background {
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.header-container,
.music-bar-container {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
}


.body-container {
  background-color: rgba(0,0,0,0.2);
}



a {
    color: #8bd1ed !important;
}