.setting-view--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & .setting-view--header {
    width: 100%;
    flex-shrink: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;

    & .tab-list-container {
      overflow-x: auto;
    }
  }

  & .setting-view--body {
    flex: 1;
    overflow-y: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    height: max-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    & .setting-view--body-item-container {
      width: 100%;

      & .setting-view--body-title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  & .setting-row {
    width: 100%;
    position: relative;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    & .option-item-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 1.1rem;
      width: fit-content;

      & .checkbox {
        width: 1rem;
        height: 1rem;
        border-radius: 2px;
        border: 1px solid currentColor;
        margin-right: 0.4rem;
        position: relative;

        & svg {
          position: absolute;
          width: 1rem;
          height: 1rem;
          left: 0;
          top: 0;
        }
      }
    }
  }

  & .label-container {
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 600;
  }
}
