.music-bar-container {
  width: 100vw;
  height: 64px;
  background-color: var(--backgroundColor);
  border-top: 1px solid var(--dividerColor);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
  z-index: 1000;

 

  // 拖拽区域
  & .music-slidebar {
    flex: auto;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    margin-left: 10px;

    & .slidebar {
      flex: auto;
      color: var(--primaryColor);
    }
  }

  // 控制区域
  & .music-controller {
    margin-left: 10px;
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

    & .controller-btn {
      cursor: pointer;
      border-radius: 50%;
      background-color: var(--primaryColor);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .play-or-pause {
      width: 40px;
      height: 40px;

      & svg {
        width: 24px;
        height: 24px;
      }
    }

    & .skip {
      width: 34px;
      height: 34px;

      & svg {
        width: 20.4px;
        height: 20.4px;
      }
    }
  }

  // 其他区域
  & .music-extra {
    width: 106px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;

    & .extra-btn {
      cursor: pointer;
      color: var(--textColor);
      margin-left: 10px;

      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
