.music-bar-container {
  width: 100vw;
  height: 64px;
  background-color: var(--backgroundColor);
  border-top: 1px solid var(--dividerColor);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
  z-index: 1000;

  
}
