.music-bar-container {
  width: 100vw;
  height: 64px;
  background-color: var(--backgroundColor);
  border-top: 1px solid var(--dividerColor);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  user-select: none;
  position: relative;
  z-index: 1000;

  // 左边的信息区域
  & .music-info-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    width: 220px;
    /* border-right: 1px solid var(--dividerColor); */
    cursor: pointer;
    padding-left: 10px;

    & .open-detail {
      width: 44px;
      height: 44px;
      color: rgba($color: white, $alpha: 0.5);
      position: absolute;
      left: 10px;
      top: 10px;
      transition: all 200ms linear;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: #000000, $alpha: 0.5);
      border-radius: 4px;

      & svg {
        width: 28px;
        height: 28px;
      }

      &:hover {
        opacity: 1;
        backdrop-filter: blur(5px);
      }
    }

    & .music-cover {
      width: 44px;
      height: 44px;
      object-fit: cover;
      flex-shrink: 0;
      border-radius: 4px;
    }

    & .music-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 10px;
      width: 148px;
      padding: 8px 0;
      height: 48px;
      padding-right: 8px;
      font-size: 1rem;

      & .music-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .music-artist {
        display: flex;
        
        & div {
          opacity: 0.8;
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-right: 1rem;
        }

        & svg {
          flex-shrink: 0;
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  // 拖拽区域
  & .music-slidebar {
    flex: auto;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    margin-left: 10px;

    & .slidebar {
      flex: auto;
      color: var(--primaryColor);
    }
  }

  // 控制区域
  & .music-controller {
    margin-left: 10px;
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

    & .controller-btn {
      cursor: pointer;
      border-radius: 50%;
      background-color: var(--primaryColor);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .play-or-pause {
      width: 40px;
      height: 40px;

      & svg {
        width: 24px;
        height: 24px;
      }
    }

    & .skip {
      width: 34px;
      height: 34px;

      & svg {
        width: 20.4px;
        height: 20.4px;
      }
    }
  }

  // 其他区域
  & .music-extra {
    width: 106px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;

    & .extra-btn {
      cursor: pointer;
      color: var(--textColor);
      margin-left: 10px;

      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}