.header-navigator {
    height: 40px;
    -webkit-app-region: none;
    display: flex;
    align-items: center;

    & .navigator-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 22px;
      cursor: pointer;
      color: white;
      border: 1px solid rgba($color: #000, $alpha: 0.1);

      &[data-disabled="true"] {
          color: rgba($color: white, $alpha: 0.5);
          cursor: default;
      }
      & svg {
        width: 14px;
        height: 14px;
      }
    }
  }