.header-navigator {
    height: 40px;
    -webkit-app-region: none;
    display: flex;
    align-items: center;

    & .navigator-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 22px;
      cursor: pointer;
      color: var(--headerTextColor);
      border: 1px solid var(--dividerColor);

      &[data-disabled="true"] {
          color: var(--headerTextColor);
          opacity: 0.5;
          cursor: default;
      }
      & svg {
        width: 14px;
        height: 14px;
      }
    }
  }