.music-bar--play-list-container {
  position: absolute;
  bottom: 64px;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  & .content-container {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 460px;
    height: 540px;
    border-top-left-radius: 8px;
    background-color: var(--backgroundColor);
    box-shadow: rgba($color: #000000, $alpha: 0.2) -2px -2px 8px;
    display: flex;
    flex-direction: column;
    padding-top: 14px;

    & .header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 14px;
      padding-right: 14px;

      & .title {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    
    & .playlist--music-list-container {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }

    & .playlist--music-list-scroll {
      position: relative;
      width: 100%;
    }

    & .divider {
      margin-bottom: 0;
    }
  }
}

.play-list--music-item-container {
  width: 460px;
  height: 2.6rem;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;

  & .playlist--title {
    margin-left: 8px;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  & .playlist--artist {
    margin-left: 8px;

    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  & .playlist--platform {
    margin-left: 8px;
    flex: 1;
  }

  & .playlist--remove {
    flex-shrink: 0;
    height: 16px;
    width: 16px;
  }

  &:nth-child(even) {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
  &:hover {
    background-color: var(--dividerColor);
  }
}
