.music-downloaded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--infoColor, #0A95C8);
}

.music-can-download {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
