.modal--add-music-to-sheet-container {
  width: 400px;
  max-height: 600px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px var(--shadowColor);
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;

  & .music-sheets {
    flex: 1;
    overflow-y: auto;

    & .sheet-item {
        box-sizing: border-box;
      height: 64px;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 500;

      &:hover {
        background-color: var(--dividerColor);
      }

      & img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        object-fit: cover;
        margin-right: 8px;
      }
    }
  }
}
