.local-music-view--container {
  & .header {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
    letter-spacing: 0.05rem;
    user-select: none;
  }

  & .opeartions {
    
  }
}
