.music-sheetlike-view--body-container {
  & .operations {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .buttons {
      display: flex;
      column-gap: 1rem;

      & .option-button {
        gap: 4px;

        & svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }

    & .search-in-music-list-container {
      width: 280px;
      position: relative;
      display: flex;
      align-items: center;
      & .search-in-music-list {
        width: 100%;
        padding: 0.6rem calc(1.4rem + 12px) 0.6rem 0.8rem;
        border-radius: 4px;
      }

      & svg {
        opacity: 0.6;
        position: absolute;
        right: 6px;
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }
}
