.music-sheetlike-view--body-container {
  & .operations {
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .buttons {
      display: flex;
      font-size: 1.05rem;
      column-gap: 1rem;

      & .option-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.8em;
        padding-right: 0.8em;

        & svg {
          width: 1.3em;
          height: 1.3em;
          margin-right: 2px;
        }
      }
    }

    & .search-in-music-list-container {
      width: 220px;
      position: relative;
      display: flex;
      align-items: center;
      & .search-in-music-list {
        width: 220px;
        padding-right: 22px;
      }

      & svg {
        opacity: 0.6;
        position: absolute;
        right: 4px;
      }
    }
  }
}
