.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & .body-container {
    width: 100%;
    height: calc(100vh - 54px - 64px);
    flex: auto;
    display: flex;
    position: relative;
  }
}

// 动态主题
:root {
  --primaryColor: #f17d34; // 主色调
  --backgroundColor: #fdfdfd; // 背景色
  --dividerColor: rgba(0, 0, 0, 0.1); // 分割线颜色
  --shadowColor: rgba(0, 0, 0, 0.2);
  --textColor: #333333; // 主文本颜色
  --animate-duration: 300ms !important;
  font-size: 13px;
}
