.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  & .body-container {
    width: 100%;
    height: calc(100vh - 54px - 64px);
    flex: auto;
    display: flex;
    position: relative;
  }
}

.tab-list-container {
  display: flex;
  margin-top: 1.2rem;
  flex-shrink: 0;
  column-gap: 2.5rem;

  & .tab-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;
    padding: 0 0 0.5rem;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    white-space: nowrap;

    &:hover {
      opacity: 0.9;
    }

    &[data-headlessui-state="selected"] {
      font-weight: 600;
      opacity: 1;

      &::after {
        content: "";
        position: absolute;
        width: 70%;
        min-width: 2rem;
        height: 4px;
        border-radius: 2px;
        left: 50%;
        bottom: 0;
        background-color: var(--primaryColor);
        transform: translateX(-50%);
      }
    }
  }
}

.tab-panels-container {
  flex: 1;

  & .tab-panel-container {
    height: 100%;
    outline: none;
  }
}

// 动态主题
:root {
  --primaryColor: #f17d34; // 主色调
  --backgroundColor: #fdfdfd; // 背景色
  --dividerColor: rgba(0, 0, 0, 0.1); // 分割线颜色
  --listEvenColor: rgba(0, 0, 0, 0.05); // 列表背景色（奇数条目）
  --listHoverColor: rgba(0, 0, 0, 0.05); // 列表悬浮颜色
  --listActiveColor: rgba(0, 0, 0, 0.1); // 列表选中颜色
  --textColor: #333333; // 主文本颜色
  --maskColor: rgba(51, 51, 51, 0.5); // 遮罩层颜色
  /* --backdropColor: #fdfdfd; // 弹窗等地方的背景颜色，默认和背景色一致*/
  --shadowColor: rgba(0, 0, 0, 0.2);
  /** --shadow:  // 全部的shadow属性 */
  --placeholderColor: #f4f4f4;

  --successColor: #08a34c;
  --dangerColor: #fc5f5f;
  --infoColor: #0a95c8;
  --linkColor: #0c66fc;
  /* --headerPlaceholderColor: rgba($color: #000, $alpha: 0.14); */
  --headerTextColor: white;
  /* --musicBarTextColor: #000; // 有必要再加*/

  --animate-duration: 300ms !important;
  --scrollbar-width: 8px;

  font-size: 13px;
  color: var(--textColor);
}

a {
  color: var(--linkColor);
}
