.modal--plugin-subscription {
  width: 420px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 164px;
  max-height: 560px;

  & .content-container {
    font-size: 1.1rem;
    flex: 1;
    overflow: auto;

    & .content-item {
        margin: 1rem;
        width: 360px;
      & .content-item-row {
        display: flex;
        align-items: center;
        
        &:last-child {
            margin-top: 0.5rem;
        }

        & span {
            width: 4rem;
        }

        & input {
            flex: 1;
        }
      }
    }
  }

  & .opeartion-area {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}
